{% extends 'templates/shared/layout/base.html.twig' %}
{% block title "Editer un talk" | title %}

{% block header %}
    {% embed "shared/component/_header.html.twig" %}
        {% block header_title "Editer un talk" %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('admin_talk_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ 'arrow-long-left' | icon }}
                    <span>tous les talks</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed "shared/component/card/_simple.html.twig" %}
        {% block simple_card_body %}
            {% include 'templates/shared/component/_form.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
